<div class="container">
	<sns-navbar></sns-navbar>

  <!-- Page Body -->
  <div class="row" ng-if="deptDetail.checkViewPermission(4)">
    <div class="box col-md-12">
      <div class="box-inner">
        <div class="box-content">
          <!-- Starts Here -->
          <div class="jumbotron">
            <h2>{{deptDetail.deptName}}</h2>
            <h4>Head: {{deptDetail.headName}}</h4>
          </div>

          <!-- Users In Department -->
          <div class="row">
            <div class="box col-md-12">
              <div class="box-inner">
                <div class="box-content">
                  <table class="table table-bordered table-striped table-condensed">
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th>Position</th>
                        <th>Department</th>
                        <th>Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="user in deptDetail.users track by user.username">
                        <td> {{ user.name }}</td>
                        <td> {{ user.position }}</td>
                        <td> {{ user.department }}</td>
                        <td> {{ user.status }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <!-- Page Actions -->
  <div ng-show="true">
    <div class="box col-md-12">
      <div class="box-inner">
        <div class="box-content">
          <!-- Starts Here -->
          <md-button class="md-primary md-raised" ui-sref="deptMgmt">
            Back To Department View
          </md-button>
          <md-button class="md-primary md-raised" ng-click="deptDetail.addPosition($event)">
            Add A Position
          </md-button>
        </div>
      </div>
    </div>
  </div>

</div>
