<div class="container">
  <sns-navbar></sns-navbar>

  <div class="row">
    <div class="box col-md-12">
        <div class="box-inner">
            <div class="box-content">
              <div class="page-header">
                <h1> Leave Management </h1>      
              </div>
          <!--    <table class="table table-bordered table-striped table-condensed">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Group</th>
                        <th>Department</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="user in leaveMgmt.users track by user.username">
                        <td> {{ user.username }}</td>
                        <td> {{ user.usergroup }}</td>
                        <td ng-click="leaveMgmt.deptDetail(user.department)"> {{ user.department }}</td>
                        <td> {{ user.status }}</td>
                        <td> 
                        	<i class="glyphicon glyphicon-pencil" ng-click="leaveMgmt.editUser(user)"></i>
                        	<i class="glyphicon glyphicon-remove" ng-click="leaveMgmt.rmUser(user)"></i>
                        </td>
                    </tr> 
                    </tbody>
                </table> -->
            </div>
        </div>
    </div>

  <!-- Page Actions -->
  <div ng-show="true">
    <div class="box col-md-12">
      <div class="box-inner">
        <div class="box-content">
          <md-button class="md-primary md-raised" ui-sref="deptMgmt">
            Apply Leave
          </md-button>
        </div>
      </div>
    </div>
  </div>

</div>