<div class="container">
  <sns-navbar></sns-navbar>

  <div class="row">
    <div class="box col-md-12">
        <div class="box-inner">
            <div class="box-content">
              <div class="page-header">
                <h1> Leave Management </h1>      
              </div>
              <h3> My Leave History </h3>
              <table class="table table-bordered table-striped">
                <thead class="thead-inverse">
                <tr>
                    <th>Leave Type</th>
                    <th>Leave From</th>
                    <th>Leave To</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="leave in leaveMgmt.leaves track by $index">
                    <td> {{ leave.leaveType }} </td>
                    <td> {{ leave.fromDate | date: 'dd/MM/yyyy' }} </td>
                    <td> {{ leave.toDate | date: 'dd/MM/yyyy' }} </td>
                    <td> {{ leave.status }} </td>
                </tr> 
                </tbody>
              </table>
            </div>
        </div>
    </div>
  </div>

  <!-- Page Actions -->
  <div ng-show="true">
    <div class="box col-md-12">
      <div class="box-inner">
        <div class="box-content">
          <md-button class="md-primary md-raised" ng-click="leaveMgmt.newLeave($event)">
            Apply Leave
          </md-button>
        </div>
      </div>
    </div>
  </div>

</div>