<div class="container">
	<sns-navbar></sns-navbar>
	<form class="well form-horizontal" id="contact_form">
		<fieldset>

			<!-- Form Name -->
			<legend>{{ userRgst.title }}</legend>

			<!-- Dynamic Fields Form -->
			<div class="form-group" ng-repeat="(key, value) in userRgst.dynFields track by $index">
				<label class="col-md-4 control-label">{{value.fieldName}}</label>
				<div class="col-md-4 inputGroupContainer">
			  	<div class="input-group">
			  		<span class="input-group-addon"><i class="{{value.glyphClass}}"></i></span>
			  		<input 
			  			ng-model="userRgst.inputs[$index]" 
			  			ng-show="value.inputType == 'textbox'"
			  			placeholder="{{value.placeholder}}" 
			  			class="form-control" 
			  			type="{{value.type}}">
			  		<select 
			  			ng-model="userRgst.inputs[$index]" 
			  			ng-show="value.inputType == 'selectbox'"
			  			class="form-control selectpicker">
				      <option value=" ">Please select your state</option>
				      <option>SysAdmin</option>
				      <option>HR</option>
				      <option>Department Head</option>
				      <option>Normal Employee</option>      
					  </select>
			    </div>
			  </div>
			</div>

			<!-- New dynamic field -->
			<div class="form-group">
			  <label class="col-md-4 control-label"></label>
			  <div class="col-md-4">
			  	<div class="input-group">
					  <input ng-model="userRgst.newName" type="text" class="form-control" placeholder="Create a new form field">
					  <span class="input-group-btn">
					    <button class="btn btn-default" ng-click="userRgst.newField()">Insert</button>
					  </span>
					</div>
			  </div>
			</div>

			<!-- Button -->
			<div class="form-group">
				<div class="col-md-4">
					<div class="input-group">
						<button class="btn" ng-click="userRgst.back()">Back</button>
				    <button class="btn" ng-click="userRgst.submit()">Submit</button>
				  </div>
				</div>
			</div>

		</fieldset>
	</form>
</div>